header {
  margin-bottom: 15px;
  border-bottom: 1px solid #12543c;
}

.row {
  margin-bottom: 24px;
}

.about_text {
  background-image: linear-gradient(to right, #0ba360 0%, #3cba92 100%);
  padding: 30px 60px;
  margin-bottom: 24px;
}

h1,
h2,
h3 {
  text-align: center;
  color: #062906;
}

h2 {
  text-shadow: 1px 0 1px #cccccc, 0 1px 1px #cccccc, -1px 0 1px #cccccc,
    0 -1px 1px #cccccc;
}
